{% extends "base.html" %}
{% block title %} Home page {% endblock %}


{% block content %}

<style>
  .center {
    text-align: center;
     margin: 10px 30px 30px 30px;
  }
</style>

<div class="center">
 <div class="welcome_text">
    <h1>Проект нашей лаборатории</h1>
 <p>Одной из наиболее острых в нефтегазовом секторе сегодня является проблема точности и скорости лабораторных исследований для оптимизации работы предприятия.
     Она влечёт за собой экономические, экологические, социальные потери и риски для компаний , что является катализатором для технологического прогресса в этой области ,
     который мы разработали и собираемся реализовать на площадках Татнефти.
     Мы разработали алгоритм ИИ , который выполняет порядок лабораторных исследований по подбору индивидуальной химии в разы быстрее ,
     чем человек , также модернизировали сам процесс исследования , заставив ИИ генерировать рекомендательный состав химии в дополнение к исследуемой химии.</p>
</div>
</div>


{% endblock %}